/*STYLESHEET*/

/* Formatting the h1 header */
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    
}

/* Formatting the h3 headers and p elements */
h3, p{
    color: rgb(0, 0, 0);
    text-align: left;
    /*padding: 10px; */
}

/* Formatting the about class section */
#about {
    text-indent: 10%;
    text-transform: uppercase;
    font-size: x-large;
    line-height: 50px;
    
}

/* Formatting the image */
img{
    border-radius: 6%;
    display: block;
    margin-left: 3%;
    margin-right: auto;
    width: 50%;
    max-width: 30%;
    max-height: 30%;
    float: left;
    margin-bottom: 50px;

}

/* Formatting the webpage background */
body{
    background-color: #cccccc;
    background-size: contain;
    background-attachment: fixed;
}

/* Formatting links */
a{
    text-decoration: underline;
    line-height: 25px;
}

/* Formatting links according to it's state */
a:link{
    color: rgb(0, 0, 0);
}
a:visited{
    color: rgb(245, 81, 245);
}

a:hover{
    color: rgb(0, 4, 255);
}

/* Blocking the links section from wrapping around the image, which floats left */
.links{
    clear: both;
    float: left;
    background-color: rgb(128, 128,128, 0.3);
}

/* Formatting the hobbies section */

#hobbies{
    float: left;
    font-size: larger;
    padding-left: 10%;
    line-height: 40px;
}

/* Formatting the contact details section */

.contact{
    clear: both;
    color: rgb(0, 0, 0);
}

/* Formatting the page footer orientation */

footer{
    clear: both;
    padding-top:0%;
    background-color: grey;
}

/* General text format */

*{
    font-family: monospace;
    font-weight: 900;
}